---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<key>&location=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Thu, 11 Aug 2022 02:21:51 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1922134921"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-183984328"}]}]}'
  recorded_at: Thu, 11 Aug 2022 02:21:51 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660184512,"sunrise":1660133246,"sunset":1660183395,"temp":83.71,"feels_like":82.09,"pressure":1016,"humidity":33,"dew_point":51.58,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":7,"wind_deg":204,"wind_gust":15.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1660183200,"temp":83.71,"feels_like":82.09,"pressure":1016,"humidity":33,"dew_point":51.58,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":14.34,"wind_deg":152,"wind_gust":17.98,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660186800,"temp":83.66,"feels_like":81.93,"pressure":1016,"humidity":32,"dew_point":50.7,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":11.23,"wind_deg":154,"wind_gust":19.46,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1660190400,"temp":82.4,"feels_like":81.14,"pressure":1016,"humidity":34,"dew_point":51.24,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":13.53,"wind_deg":153,"wind_gust":25.3,"weather":[{"id":800,"main":"Cle[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=denver,%20co&term=pizza
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-77d4785ff7-742mw; site=public_api_v3
      X-Zipkin-Id:
      - bc83ba64011b45e2
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4996'
      Ratelimit-Resettime:
      - '2022-08-12T00:00:00+00:00'
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-126-17-uswest2aprod
      X-Extlb:
      - 10-69-126-17-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "n18mJPI6mQfBJEp8UrITyw", "alias": "blue-pan-pizza-denver-4",
        "name": "Blue Pan Pizza", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/EAkVmoSTsGkaq8WvDFpPDg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/blue-pan-pizza-denver-4?adjust_creative=Tf5bifDwn5MzpZoNXp4mfg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Tf5bifDwn5MzpZoNXp4mfg",
        "review_count": 571, "categories": [{"alias": "pizza", "title": "Pizza"},
        {"alias": "italian", "title": "Italian"}], "rating": 4.5, "coordinates": {"latitude":
        39.735349, "longitude": -104.945823}, "transactions": ["delivery"], "price":
        "$$", "location": {"address1": "3509 E 12th Ave", "address2": "", "address3":
        null, "city": "Denver", "zip_code": "80206", "country": "US", "state": "CO",
        "display_address": ["3509 E 12th Ave", "Denver, CO 80206"]}, "phone": "+17205190944",
        "display_phone": "(720) 519-0944", "distance": 2088.4295572003557}, {"id":
        "Yk84dALUw0TPPf9sMuu2hg", "alias": "redeemer-pizza-denver", "name": "Redeemer
        Pizza", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/tmZdbkbfJ_qDmYzf6j8_0A/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/redeemer-pizza-denver?adjust_creative=Tf5bifDwn5MzpZoNXp4mfg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Tf5bifDwn5MzpZoNXp4mfg",
        "review_count": 64, "categories": [{"alias": "pizza", "titl[...]
