---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<key>&location=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 10 Aug 2022 20:23:40 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1730408067"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=34652751"}]}]}'
  recorded_at: Wed, 10 Aug 2022 20:23:40 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660163020,"sunrise":1660133246,"sunset":1660183395,"temp":92.41,"feels_like":89.02,"pressure":1017,"humidity":22,"dew_point":48.07,"uvi":9.44,"clouds":0,"visibility":10000,"wind_speed":4,"wind_deg":154,"wind_gust":11.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1660161600,"temp":92.41,"feels_like":89.02,"pressure":1017,"humidity":22,"dew_point":48.07,"uvi":9.44,"clouds":0,"visibility":10000,"wind_speed":3,"wind_deg":99,"wind_gust":5.03,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660165200,"temp":92.77,"feels_like":89.08,"pressure":1016,"humidity":20,"dew_point":45.84,"uvi":7.56,"clouds":0,"visibility":10000,"wind_speed":5.99,"wind_deg":125,"wind_gust":6.53,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660168800,"temp":93.11,"feels_like":89.15,"pressure":1015,"humidity":18,"dew_point":43.36,"uvi":5.14,"clouds":0,"visibility":10000,"wind_speed":13.29,"wind_deg":145,"wind_gust":9.6,"weather":[{"id":800,"main"[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=denver,%20co&term=pizza
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 8f3bc19c56ddac22
      X-Routing-Service:
      - routing-main--uswest2-77d4785ff7-44kws; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4972'
      Ratelimit-Resettime:
      - '2022-08-11T00:00:00+00:00'
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-69-73-uswest2aprod
      X-Extlb:
      - 10-69-69-73-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "VFACYV_lGv9y4FV-_1m4Ig", "alias": "brooklyns-finest-pizza-lowell-denver",
        "name": "Brooklyn''s Finest Pizza - Lowell", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/6cPY-ZzCjPdyI_F_zOtsHA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/brooklyns-finest-pizza-lowell-denver?adjust_creative=Tf5bifDwn5MzpZoNXp4mfg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Tf5bifDwn5MzpZoNXp4mfg",
        "review_count": 463, "categories": [{"alias": "pizza", "title": "Pizza"},
        {"alias": "italian", "title": "Italian"}, {"alias": "sandwiches", "title":
        "Sandwiches"}], "rating": 4.5, "coordinates": {"latitude": 39.7875680710371,
        "longitude": -105.035032358198}, "transactions": ["delivery", "pickup"], "price":
        "$$", "location": {"address1": "5007 Lowell Blvd", "address2": "", "address3":
        "", "city": "Denver", "zip_code": "80221", "country": "US", "state": "CO",
        "display_address": ["5007 Lowell Blvd", "Denver, CO 80221"]}, "phone": "+13034770066",
        "display_phone": "(303) 477-0066", "distance": 8009.779308214767}, {"id":
        "n18mJPI6mQfBJEp8UrITyw", "alias": "blue-pan-pizza-denver-4", "name": "Blue
        Pan Pizza", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/EAkVmoSTsGkaq8WvDFpPDg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/blue-pan-pizza-denver-4?adjust_creative=Tf5bifDwn5MzpZoNXp4mfg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Tf5bifDwn5MzpZoNXp4mfg",
        "review_count": 571, "categories": [{"alias": "pizza", "[...]
