---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<key>&location=%7B%22location%22=%3E%22denver,co%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Thu, 11 Aug 2022 02:21:53 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"{\"location\"=>\"denver,co\"}"},"locations":[{"street":"Denver
        Lane","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Louisville-Jefferson
        County","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"KY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"40258","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p2/1652853","unknownInput":"","type":"s","latLng":{"lat":38.17368,"lng":-85.8849},"displayLatLng":{"lat":38.17368,"lng":-85.8849},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=38.17368,-85.8849|marker-sm-50318A-1&scalebar=true&zoom=15&rand=439267321"},{"street":"Denver
        Road","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Osage","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"MO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"65536","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragP[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=38.17368&lon=-85.8849&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.1737,"lon":-85.8849,"timezone":"America/Kentucky/Louisville","timezone_offset":-14400,"current":{"dt":1660184514,"sunrise":1660128843,"sunset":1660178631,"temp":74.43,"feels_like":75.99,"pressure":1018,"humidity":94,"dew_point":72.59,"uvi":0,"clouds":100,"visibility":9656,"wind_speed":4.61,"wind_deg":270,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"},{"id":211,"main":"Thunderstorm","description":"thunderstorm","icon":"11n"}],"rain":{"1h":0.13}},"hourly":[{"dt":1660183200,"temp":74.43,"feels_like":75.99,"pressure":1018,"humidity":94,"dew_point":72.59,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":4.34,"wind_deg":24,"wind_gust":9.75,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.7,"rain":{"1h":0.66}},{"dt":1660186800,"temp":73.8,"feels_like":75.34,"pressure":1018,"humidity":95,"dew_point":72.27,"uvi":0,"clouds":88,"visibility":10000,"wind_speed":3.67,"wind_deg":43,"wind_gust":5.66,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.7},{"dt":1660190400,"temp":72.86,"feels_like":74.32,"pressure":1018,"humidity":95,"dew_point":71.35,"uvi":0,"clouds":72,"visibility":10000,"wind_speed":4.09,"wind_deg":31,"wind_gust":5.61,"wea[...]
