---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=40.394386&lon=-105.070584&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.3944,"lon":-105.0706,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660163019,"sunrise":1660133187,"sunset":1660183495,"temp":92.35,"feels_like":89.35,"pressure":1021,"humidity":24,"dew_point":50.36,"uvi":10.15,"clouds":0,"visibility":10000,"wind_speed":6.91,"wind_deg":140,"wind_gust":18.41,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1660161600,"temp":92.35,"feels_like":89.35,"pressure":1021,"humidity":24,"dew_point":50.36,"uvi":10.15,"clouds":0,"visibility":10000,"wind_speed":9.95,"wind_deg":147,"wind_gust":8.77,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660165200,"temp":92.79,"feels_like":89.44,"pressure":1020,"humidity":22,"dew_point":48.4,"uvi":8.18,"clouds":0,"visibility":10000,"wind_speed":10.51,"wind_deg":142,"wind_gust":8.14,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660168800,"temp":93.38,"feels_like":89.73,"pressure":1018,"humidity":20,"dew_point":46.35,"uvi":5.55,"clouds":0,"visibility":10000,"wind_speed":9.98,"wind_deg":140,"wind_gust":7.76,"weather":[{"id":800,"main"[...]
