---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=40.394386&lon=-105.070584&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.3944,"lon":-105.0706,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660184503,"sunrise":1660133187,"sunset":1660183495,"temp":83.07,"feels_like":81.9,"pressure":1019,"humidity":36,"dew_point":53.38,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":10.36,"wind_deg":80,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1660183200,"temp":83.07,"feels_like":81.9,"pressure":1019,"humidity":36,"dew_point":53.38,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":12.91,"wind_deg":144,"wind_gust":24.65,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660186800,"temp":81.9,"feels_like":80.94,"pressure":1018,"humidity":36,"dew_point":52.34,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":8.39,"wind_deg":157,"wind_gust":20.89,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1660190400,"temp":79.47,"feels_like":79.47,"pressure":1018,"humidity":38,"dew_point":51.67,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":6.44,"wind_deg":149,"wind_gust":17.4,"weather":[{"id":800,"main":"Clea[...]
