---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=castle%20rock,%20co&term=pizza
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-77d4785ff7-42zsk; site=public_api_v3
      Ratelimit-Remaining:
      - '4993'
      Ratelimit-Resettime:
      - '2022-08-12T00:00:00+00:00'
      X-Zipkin-Id:
      - 92b88eebfc2e637b
      Ratelimit-Dailylimit:
      - '5000'
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-130-205-uswest2bprod
      X-Extlb:
      - 10-69-130-205-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "3kjN8Dlib5lWS7v7sI_gHQ", "alias": "scileppis-at-the-old-stone-church-castle-rock",
        "name": "Scileppi''s at The Old Stone Church", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/ptpyfgGx2VTsjPIzhQvT8Q/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/scileppis-at-the-old-stone-church-castle-rock?adjust_creative=Tf5bifDwn5MzpZoNXp4mfg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Tf5bifDwn5MzpZoNXp4mfg",
        "review_count": 332, "categories": [{"alias": "italian", "title": "Italian"},
        {"alias": "pizza", "title": "Pizza"}], "rating": 4.5, "coordinates": {"latitude":
        39.37199, "longitude": -104.86114}, "transactions": ["delivery"], "price":
        "$$", "location": {"address1": "210 Third St", "address2": "", "address3":
        null, "city": "Castle Rock", "zip_code": "80104", "country": "US", "state":
        "CO", "display_address": ["210 Third St", "Castle Rock, CO 80104"]}, "phone":
        "+13036889000", "display_phone": "(303) 688-9000", "distance": 2157.3759898949324},
        {"id": "-Av9drbCjlK9-lP3dxjRwg", "alias": "212-pizza-company-castle-rock",
        "name": "212 Pizza Company", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/COrTHcCz4PHuBh189Qzhdw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/212-pizza-company-castle-rock?adjust_creative=Tf5bifDwn5MzpZoNXp4mfg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Tf5bifDwn5MzpZoNXp4mfg",
        "review_count": 248, "categories": [{"al[...]
