---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<key>&location=castlerock,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 10 Aug 2022 20:23:43 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"castlerock,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Castle
        Rock","adminArea5Type":"City","adminArea4":"Douglas County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282030244","unknownInput":"","type":"s","latLng":{"lat":39.375367,"lng":-104.859911},"displayLatLng":{"lat":39.375367,"lng":-104.859911},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=39.375367,-104.859911|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-82735648"}]}]}'
  recorded_at: Wed, 10 Aug 2022 20:23:43 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=39.375367&lon=-104.859911&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3754,"lon":-104.8599,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660163023,"sunrise":1660133259,"sunset":1660183322,"temp":87.85,"feels_like":85.26,"pressure":1022,"humidity":28,"dew_point":50.72,"uvi":9.75,"clouds":0,"visibility":10000,"wind_speed":8.01,"wind_deg":175,"wind_gust":13,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1660161600,"temp":87.85,"feels_like":85.26,"pressure":1022,"humidity":28,"dew_point":50.72,"uvi":9.75,"clouds":0,"visibility":10000,"wind_speed":11.79,"wind_deg":148,"wind_gust":9.1,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660165200,"temp":87.39,"feels_like":84.67,"pressure":1021,"humidity":27,"dew_point":49.33,"uvi":7.8,"clouds":0,"visibility":10000,"wind_speed":12.01,"wind_deg":145,"wind_gust":8.84,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660168800,"temp":86.86,"feels_like":84.06,"pressure":1020,"humidity":26,"dew_point":47.89,"uvi":5.3,"clouds":0,"visibility":10000,"wind_speed":12.68,"wind_deg":142,"wind_gust":9.42,"weather":[{"id":800,"main"[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=castlerock,co&term=pizza
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4971'
      X-Routing-Service:
      - routing-canary--uswest2-7f9b56ff8-fn9bb; site=public_api_v3
      Ratelimit-Resettime:
      - '2022-08-11T00:00:00+00:00'
      X-Zipkin-Id:
      - e921dfb28ffcca93
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-152-12-uswest2bprod
      X-Extlb:
      - 10-69-152-12-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "3kjN8Dlib5lWS7v7sI_gHQ", "alias": "scileppis-at-the-old-stone-church-castle-rock",
        "name": "Scileppi''s at The Old Stone Church", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/ptpyfgGx2VTsjPIzhQvT8Q/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/scileppis-at-the-old-stone-church-castle-rock?adjust_creative=Tf5bifDwn5MzpZoNXp4mfg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Tf5bifDwn5MzpZoNXp4mfg",
        "review_count": 332, "categories": [{"alias": "italian", "title": "Italian"},
        {"alias": "pizza", "title": "Pizza"}], "rating": 4.5, "coordinates": {"latitude":
        39.37199, "longitude": -104.86114}, "transactions": ["delivery"], "price":
        "$$", "location": {"address1": "210 Third St", "address2": "", "address3":
        null, "city": "Castle Rock", "zip_code": "80104", "country": "US", "state":
        "CO", "display_address": ["210 Third St", "Castle Rock, CO 80104"]}, "phone":
        "+13036889000", "display_phone": "(303) 688-9000", "distance": 2157.3759898949324},
        {"id": "-Av9drbCjlK9-lP3dxjRwg", "alias": "212-pizza-company-castle-rock",
        "name": "212 Pizza Company", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/COrTHcCz4PHuBh189Qzhdw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/212-pizza-company-castle-rock?adjust_creative=Tf5bifDwn5MzpZoNXp4mfg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Tf5bifDwn5MzpZoNXp4mfg",
        "review_count": 248, "categories": [{"al[...]
