---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<key>&location=castlerock,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Thu, 11 Aug 2022 02:21:54 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"castlerock,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Castle
        Rock","adminArea5Type":"City","adminArea4":"Douglas County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282030244","unknownInput":"","type":"s","latLng":{"lat":39.375367,"lng":-104.859911},"displayLatLng":{"lat":39.375367,"lng":-104.859911},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=39.375367,-104.859911|marker-sm-50318A-1&scalebar=true&zoom=12&rand=909595625"}]}]}'
  recorded_at: Thu, 11 Aug 2022 02:21:54 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=39.375367&lon=-104.859911&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3754,"lon":-104.8599,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660184514,"sunrise":1660133259,"sunset":1660183322,"temp":77.61,"feels_like":76.82,"pressure":1021,"humidity":37,"dew_point":49.3,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":11.99,"wind_deg":127,"wind_gust":18.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1660183200,"temp":77.61,"feels_like":76.82,"pressure":1021,"humidity":37,"dew_point":49.3,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":9.78,"wind_deg":158,"wind_gust":18.88,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660186800,"temp":76.23,"feels_like":75.38,"pressure":1021,"humidity":39,"dew_point":49.48,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":11.59,"wind_deg":162,"wind_gust":24.83,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1660190400,"temp":74.39,"feels_like":73.51,"pressure":1021,"humidity":42,"dew_point":49.84,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":13.49,"wind_deg":167,"wind_gust":27.38,"weather":[{"id":800,"main":"[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=castlerock,co&term=pizza
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-77d4785ff7-r2lzq; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      X-Zipkin-Id:
      - 9a448d8a64fcde81
      Ratelimit-Remaining:
      - '4995'
      Ratelimit-Resettime:
      - '2022-08-12T00:00:00+00:00'
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-126-17-uswest2aprod
      X-Extlb:
      - 10-69-126-17-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "3kjN8Dlib5lWS7v7sI_gHQ", "alias": "scileppis-at-the-old-stone-church-castle-rock",
        "name": "Scileppi''s at The Old Stone Church", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/ptpyfgGx2VTsjPIzhQvT8Q/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/scileppis-at-the-old-stone-church-castle-rock?adjust_creative=Tf5bifDwn5MzpZoNXp4mfg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Tf5bifDwn5MzpZoNXp4mfg",
        "review_count": 332, "categories": [{"alias": "italian", "title": "Italian"},
        {"alias": "pizza", "title": "Pizza"}], "rating": 4.5, "coordinates": {"latitude":
        39.37199, "longitude": -104.86114}, "transactions": ["delivery"], "price":
        "$$", "location": {"address1": "210 Third St", "address2": "", "address3":
        null, "city": "Castle Rock", "zip_code": "80104", "country": "US", "state":
        "CO", "display_address": ["210 Third St", "Castle Rock, CO 80104"]}, "phone":
        "+13036889000", "display_phone": "(303) 688-9000", "distance": 2157.3759898949324},
        {"id": "-Av9drbCjlK9-lP3dxjRwg", "alias": "212-pizza-company-castle-rock",
        "name": "212 Pizza Company", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/COrTHcCz4PHuBh189Qzhdw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/212-pizza-company-castle-rock?adjust_creative=Tf5bifDwn5MzpZoNXp4mfg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Tf5bifDwn5MzpZoNXp4mfg",
        "review_count": 248, "categories": [{"al[...]
